/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

img {
     width: 50%;

}

h1,
h2 {
     font-family: 'VT323', monospace;
}

p {
     font-family: 'Roboto', sans-serif;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: aliceblue;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     height: 100px;
     border: 1px hidden black;
     background-color: white;
     text-align: center;

}

section {
     border: 1px hidden black;
     height: auto;
     /* width: 50%; */
     text-align: center;

}

@media screen and (max-width: 600px) {
     section {
          width: auto;
          height: 100%;
     }

}

@media (min-width: 601px) and (max-width: 1600px) {
     section {
          width: 50%;
          float: left;
     }

     img {
          width: 50%
     }




}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/